<h1 *ngIf="isAddMode">Add User</h1>
<h1 *ngIf="!isAddMode">Edit User</h1>
<form [formGroup]="candidateForm" (ngSubmit)="onSubmit()">
  <div class="my-3">
    <label>First Name</label>
    <input
      class="form-control"
      type="text"
      placeholder="First Name"
      formControlName="firstName"
    />
  </div>
  <span
    *ngIf="f['firstName'] && f['firstName'].invalid && f['firstName'].touched"
    class="alert alert-danger"
  >
    Not valid!
  </span>
  <div class="my-3">
    <label>Last Name</label>
    <input
      class="form-control"
      type="text"
      placeholder="Last Name"
      formControlName="lastName"
    />
  </div>
  <span
    *ngIf="f['lastName'] && f['lastName'].invalid && f['lastName'].touched"
    class="alert alert-danger"
  >
    Not valid!
  </span>

  <div class="my-3">
    <label>Email</label>
    <input
      class="form-control"
      type="text"
      placeholder="Email"
      formControlName="email"
    />
  </div>
  <span
    *ngIf="f['email'] && f['email'].invalid && f['email'].touched"
    class="alert alert-danger"
  >
    Not valid!
  </span>
  <div class="my-3">
    <label>Resume URL</label>
    <input
      class="form-control"
      type="text"
      placeholder="Resume URL"
      formControlName="resume"
    />
  </div>
  <button
    type="submit"
    class="btn btn-primary"
    [disabled]="candidateForm.invalid"
  >
    Submit
  </button>
</form>
